* {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1px;
    max-width: 840px;
}

nav a {
    color: white;
    display: block;
    padding: .1px;
    margin-bottom: 10px;
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(219, 193, 214, 0.8);
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    display: block;
    margin: 0 auto;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 35em;
    margin: 10em;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 0x;
    left: 455px;
    color: steelblue;
}

aside img {
    margin:0 auto;
    width: 450px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    margin-right: 1px;
    margin-left: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selector */

.box {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.5rem;
    padding-right:3rem;
    width: 840px;
    background-color: #ddd;
    color: #000;
}

.box2 {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 5rem;
    padding-right:1rem;
    width: 840px;
    background-color: #ddd;
    color: #000;
}